<br>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Dirección</th>
            <th scope="col">Correo</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
        </tr>
        <tr>
            <td scope="row"><%= @name %></td>
            <td scope="row"><%= @last_name %></td>
            <td scope="row"><%= @address %></td>
            <td scope="row"><%= @email %></td>
            <td scope="row"><%= @age %></td>
            <td scope="row"><%= @sex %></td>
        </tr>

    </table>
</div>